---
const personalImageAlt = "Nachete";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Ignacio pero mis amigos me llaman Nachete. Inicié mi trayectoria
      en la programación con Java, empezando tarde el Grado Superior de
      programación web sin tener conocimientos previos. <strong
        >Supe ponerme a la altura me puse las pilas y no me quedo ni una materia</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >la integración exitosa de Metamask en varias webs y la creación de
        Smart Contracts con Solidity</strong
      >. Aunque es algo que a dia de hoy no se ve usualmente, estoy orgulloso de
      ello.
    </p>

    <p>
      En el ámbito del desarrollo web, <strong>
        he contribuido significativamente a proyectos utilizando tecnologías
        como React y Node.js</strong
      >. Siempre sin cerrarme a ninguna tecnología y mejorando cada día.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/nachetetnf1.webp"
    class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
    alt={personalImageAlt}
  />
</article>
